# Virtual Environment
venv/
*/venv/
phase_2_eda/venv/
phase_3_model_prediction/venv/
**/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/

# Log files
*.logairquality-env/ 
