# Core libraries
pandas
numpy
scikit-learn
xgboost
joblib

# Kafka integration
kafka-python

# Flask API
flask
flask-cors
gunicorn  # Optional, use in production

# HTTP for consumer-to-API interaction
requests

# Optional: If you're using MLflow in this Docker container
mlflow

# Optional monitoring or visualization
matplotlib
seaborn
plotly
evidently

# Other utilities
tqdm
pyyaml